/*selecciona los elelementos de menu y luego de li que es el hijo*/
/*combinacion jerarquica*/
.menu li {
    list-style: none;
    display: inline-block;
    /*margin: 10px; /*aplica a los 4 lados*/
    margin: 5px 15px; /*el primer numero aplica arriba y abajo, el segundo digito derecha e izquierda 
    /*margin: 10px 20px 30px 40px; /*los 4 numeros comienza de arriba el primero y luego va en sentido horario
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 40px;
    Esto aplica tanto para el margin, border y padding*/
    border: 1px dashed black;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.menu {
background:  #82e48f  ;
padding: 5px 15px;
/*text-align: left;*/

}

h1 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

body {
    text-align: center;
    background: gray;
}

.agrupar {
    border: 1px solid black ;
    background: #819a85;
    width: 900px;
    margin: 20px auto;
}

.cabecera {
    background: #76db85;
    border: 15px solid #999999;
    padding: 20px;
}

.seccion {
    width: 600px;
    margin: 10px;
    float: left;
}

#idarticulo1, #idarticulo2 {
    background: #58c26f;
    border: 1px solid #999;
    padding: 20px;
}

article footer{
    text-align: right;
}

.referencias {
    width: 200px;
    float: right;
    margin: 30px 35px;
    padding-left: 2px;
    
}

.pie {
    clear: both;
}

blockquote {
    border: 1px solid black;
    padding: 5px;
    background: #98bb9e;
    width: 150px;
}

img {
    width: 300px;
    height: 200px;
    margin: auto auto;
}


/*combinacion por selector*/
/*
.menu, li {

}

.menu {
color: red;
}

li {
    color: red;
    background-color: black;
}*/
